Requirement already satisfied: yagmail in ./env/lib/python3.10/site-packages (0.15.293)
Requirement already satisfied: premailer in ./env/lib/python3.10/site-packages (from yagmail) (3.10.0)
Requirement already satisfied: cachetools in ./env/lib/python3.10/site-packages (from premailer->yagmail) (5.3.2)
Requirement already satisfied: lxml in ./env/lib/python3.10/site-packages (from premailer->yagmail) (5.1.0)
Requirement already satisfied: cssutils in ./env/lib/python3.10/site-packages (from premailer->yagmail) (2.9.0)
Requirement already satisfied: requests in ./env/lib/python3.10/site-packages (from premailer->yagmail) (2.31.0)
Requirement already satisfied: cssselect in ./env/lib/python3.10/site-packages (from premailer->yagmail) (1.2.0)
Requirement already satisfied: charset-normalizer<4,>=2 in ./env/lib/python3.10/site-packages (from requests->premailer->yagmail) (3.3.2)
Requirement already satisfied: certifi>=2017.4.17 in ./env/lib/python3.10/site-packages (from requests->premailer->yagmail) (2023.11.17)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./env/lib/python3.10/site-packages (from requests->premailer->yagmail) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in ./env/lib/python3.10/site-packages (from requests->premailer->yagmail) (3.6)
